@page "/counter"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using WordCounter.Models

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditForm Model="@_userForm" OnValidSubmit="@CountWords" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <InputTextArea @bind-Value="@_userForm.InsertedText" placeholder="Place your text here..." class="form-control"></InputTextArea>
    </div>
    <button type="submit" class="btn btn-primary">Count</button>
</EditForm>

<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p role="status">Words counted: @_currentCount</p>
        </div>
    </div>
</div>

@code {
    private UserForm _userForm = new();
    private int _currentCount = 0;

    private void CountWords() => 
        _currentCount = string.IsNullOrWhiteSpace(_userForm.InsertedText)
                        ? 0
                        : Regex.Matches(_userForm.InsertedText, @"[\p{L}]+").Count;

    private void HandleInvalidSubmit() => _currentCount = 0;
}
